.dark-background {
    background-color: rgb(21, 33, 41);
    color: white;
}
.footer {
    text-align: center;
    font-size: 1.9em;
}
.address {
    font-style: normal;
    font-size: 0.8em;
}
footer a {
    color: blue;
    text-decoration: none;
}